<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>TheLabyrinth</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Signup</servlet-name>
    <servlet-class>com.web.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Character</servlet-name>
    <servlet-class>com.web.api.CharacterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Character</servlet-name>
    <url-pattern>/api/characters</url-pattern>
  </servlet-mapping>
  
  <listener>
  	<listener-class>
  		com.web.api.user.UserServletContextListener
  	</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>Game</servlet-name>
    <servlet-class>com.web.api.GameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Game</servlet-name>
    <url-pattern>/api/games/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Turn</servlet-name>
    <servlet-class>com.web.api.TurnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Turn</servlet-name>
    <url-pattern>/api/turns</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Monster</servlet-name>
    <servlet-class>com.web.api.MonsterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Monster</servlet-name>
    <url-pattern>/api/monsters</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Map</servlet-name>
    <servlet-class>com.web.api.MapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Map</servlet-name>
    <url-pattern>/api/maps</url-pattern>
  </servlet-mapping>
  
</web-app>